[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "
      default-src 'self';
      script-src 'self' 'unsafe-inline' 'unsafe-eval'
        https://www.theitalianpoetryproject.com
        https://theitalianpoetryproject.com
        https://*.googletagmanager.com
        https://*.google-analytics.com;
      style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
      img-src 'self' data: blob: https://*.google-analytics.com;
      font-src 'self' https://fonts.gstatic.com;
      connect-src
        'self'
        https://djikypgmchywybjxbwar.supabase.co
        https://*.supabase.co
        https://poetry.theitalianpoetryproject.com
        https://backend.theitalianpoetryproject.com
        https://*.google-analytics.com;
    "

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"